/*--------------------------------------------------------------
# general
--------------------------------------------------------------*/
.h1 {
    font-family: 'Trebuchet MS', sans-serif;
}

.top-image {
    background-size: 100%;
    height: 750px;
    margin-bottom: 100px;
}



/*--------------------------------------------------------------
# facts and figures
--------------------------------------------------------------*/

.facts {
    padding-bottom: 30px;
}

.facts .card {
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.facts .card-icon {
    text-align: center;
    margin-top: -32px;
}

.facts .card-icon i {
    font-size: 32px;
    color: #fff;
    width: 64px;
    height: 64px;
    padding-top: 10px;
    text-align: center;
    background-color: #1e6a1f;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    transition: 0.3s;
    display: inline-block;
}

.facts .card-body {
    padding-top: 12px;
}

.facts .card-title {
    font-weight: 700;
    text-align: center;
}

.facts .card-title a {
    color: #1c472e;
}

.facts .card-text {
    color: #5e5e5e;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-bg {
    background-color: #17653012;
}

.section-title {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
padding: 60px 0;
}

.faq .faq-list {
padding: 0;
list-style: none;
}

.faq .faq-list li {
border-bottom: 1px solid #ececf1;
margin-bottom: 20px;
padding-bottom: 20px;
}

.faq .faq-list .question {
display: block;
position: relative;
font-family: #0a600b;
font-size: 22px;
line-height: 24px;
font-weight: 300;
padding-left: 25px;
cursor: pointer;
color: #16561c;
transition: 0.3s;
}

.faq .faq-list i {
font-size: 16px;
position: absolute;
left: 0;
top: -2px;
}

.accordion-button:not(.collapsed) {
    color: #6A1F1E;
    background-color: rgba(30, 106, 31, 0.1)
}

.accordion-item {
    padding: 30px;
}

.accordion-button {
    font-size: 30px;
}

.faq .faq-list p {
margin-bottom: 0;
padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
display: none;
}

.faq .faq-list .collapsed {
color: black;
}

.faq .faq-list .collapsed:hover {
color: #197724;
}

.faq .faq-list .collapsed .icon-show {
display: inline-block;
transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
display: none;
transition: 0.6s;
}

/*-----------------------
Wave effect
-------------------------*/
section {
    position: relative;
    width: 100%;
    height: 90vh;
    /* background: #228B22; */
    background-size: 100% auto;
}
.waveTrans {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(static\images\wave.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    /* the below line takes the index of the waves to get them to move not at the same time */
    animation-delay: calc(var(--i) * 0.25s); 
}

.waveTrans#waveTrans1{
    z-index: 1000;
    opacity: 1;
    background-position-x:400px;
}

.waveTrans#waveTrans2{
    z-index: 999;
    opacity: 0.5;
    background-position-x:300px;
}

.waveTrans#waveTrans3{
    z-index: 998;
    opacity: 0.2;
    background-position-x:200px;
}

.waveTrans#waveTrans4{
    z-index: 997;
    opacity: 0.7;
    background-position-x:100px;
}


@keyframes animate{
    0%, 100% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(30px)
    }
}

